@model ITVerket.FinalCut.UI.Models.MovieViewModel

<h2>New</h2>

<section class="movie edit">
@using (Html.BeginForm<MovieController>(x => x.Create()))
{ 
    @Html.Partial("_EditForm")
    <div id="Buttons">
        @Html.SubmitButton("Save","Save")|@(Html.ActionLink<MovieController>(x => x.Index(), "Cancel", new { id = "Cancel"}))
    </div>
}
</section>