@model MovieViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<section class="movie edit">
@using (Html.BeginForm<MovieController>(x => x.Edit((MovieViewModel)null)))
{ 
    @Html.Partial("_EditForm")
    <div id="Buttons">
        @Html.SubmitButton("Save","Save")|@(Html.ActionLink<MovieController>(x => x.Details(Model.Title), "Cancel", new { id = "Cancel"}))
    </div>
}
</section>